{% extends "base.html.twig" %}

{% block body %}
<div class="row">
    <h1>Mon panier</h1>
    {% if panier|length > 0 %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Modèle</th>
                <th scope="col">Matière</th>
                <th scope="col">Taille</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for elements in panier %}
            <tr>
                {# <th scope="row">1</th> #}
                <td>{{ elements[0].nom_modele }}</td>
                <td>{{ elements[0].nom_matiere }}</td>
                <td>{{ elements[0].taille_chaussette }}</td>
                <td>{{ elements[0].prix_unitaire }}</td>
                <td>{{ elements[1] }}</td>
                <td>{{ elements[0].prix_unitaire * elements[1] }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="5">Valeur totale du panier :</td>
                <td>{{ valTotalePanier }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('sauver_panier') }}"><button type="button" class="btn btn-outline-secondary">Sauver panier</button></a>
    {% else %}
    <p>Ooops, le panier courant est vide...</p>
    {% endif %}
</div>
<div class="row">
        {% if paniersSauves is defined %}
        <h1>Mes paniers enregistrés</h1>
            {% for panierSauve in paniersSauves %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Modèle</th>
                        <th scope="col">Matière</th>
                        <th scope="col">Taille</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for choixUtilisateurs in panierSauve %}
                    {% for choixUtilisateur in choixUtilisateurs %}
                        <tr>
                            <td>{{ choixUtilisateur.modele }}</td>
                            <td>{{ choixUtilisateur.matiere }}</td>
                            <td>{{ choixUtilisateur.taille }}</td>
                            <td>{{ choixUtilisateur.prixUnitaire }}</td>
                            <td>{{ choixUtilisateur.qteVoulue }}</td>
                            <td>{{ choixUtilisateur.prixUnitaire * choixUtilisateur.qteVoulue }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                    <tr>
                        <td colspan="5">Valeur totale du panier :</td>
                        <td>{{ panierSauve.prixPanier }}</td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        {% else %}
        <p>Hummm... pas de paniers enregistrés pour le moment !</p> 
        {% endif %}
    {# {% endif %} #}
</div>
{% endblock %}