{% extends "base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/accueil.css">
{% endblock %}
{% block body %}
<div class="row">
    <h1>Chauss-7</h1>
    <div>
        <h2>Pas de chaussettes, pas de chocolat</h2>
        <p>Mieux qu'une chaussette ? Deux chaussettes .. ça tombe bien vous les trouverez
            ici par paires. Des matières exotiques, des tailles incongrues, des modèles 
            de l'infini et au-delà, ne cherchez plus, trouvez ;')
        </p>
    </div>
</div>
<div class="row">
    <div class="row row-cols-1 row-cols-md-3">

    {% for modele, matieres in vueDEnsemble %}
    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71fxA1eABOL._AC_UY606_.jpg" class="card-img-top" alt="{{ modele }}">
            <div class="card-body">
                <h5 class="card-title">{{ modele }}</h5>
                {% for matiere, tailles in matieres %}
                <p class="card-text">{{ matiere }} : 
                    {% for taille, id in tailles %}
                        <form action="{{ path('ajout_panier', {'id': id }) }}" method="GET">
                            <button type="submit" class="btn btn-outline-secondary" value="ajout">{{ taille }}</button>
                        </form>
                    {% endfor %}
                </p>
                {% endfor %}
            </div>
            
        </div>
    </div>
    {% endfor %}

    </div>
</div>
{% endblock %}